<div id="<%= dom_id factory %>">
  <p>
    <strong>Name:</strong>
    <%= factory.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= factory.address %>
  </p>

  <p>
    <strong>Director name:</strong>
    <%= factory.director_name %>
  </p>

</div>
