<div id="<%= dom_id department %>">
  <p>
    <strong>Factory:</strong>
    <%= department.factory_id %>
  </p>

  <p>
    <strong>Chief name:</strong>
    <%= department.chief_name %>
  </p>

</div>
