<div id="<%= dom_id technology %>">
  <p>
    <strong>Description:</strong>
    <%= technology.description %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= technology.developer %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= technology.duration %>
  </p>

</div>
