<h1>Editing technology</h1>

<%= render "form", technology: @technology %>

<br>

<div>
  <%= link_to "Show this technology", @technology %> |
  <%= link_to "Back to technologies", technologies_path %>
</div>
