<!DOCTYPE html>
<html>
  <head>
    <title>DbLabs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <nav>
    <a href="/factories"> Factories </a>
    <a href="/departments"> Departments </a>
    <a href="/technologies"> Technologies </a>
    <a href="/products"> Products </a>
    <a href="/parts"> Parts </a>
    <a href="/vendors"> Vendors </a>
  </nav>
  
    <%= yield %>
  </body>
</html>
